<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/advent-of-code' | prepend: site.baseurl }}">Advent of code</a></li>
            <li class="menu__entry"><a href="{{ '/categories/self-driving-cars' | prepend: site.baseurl }}">Self-Driving cars</a></li>
            <li class="menu__entry"><a href="{{ '/categories/autonomous-flight' | prepend: site.baseurl }}">Autonomous Flight</a></li>
        </ul>
    </div>

    <ul class="social-links">
        <a href="{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
        <a href="https://stackoverflow.com/story/darienmt" class="social-links__entry" target="_blank">
            <i class="fa fa-stack-overflow"></i>
        </a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="social-links__entry" target="_blank">
            <i class="fa fa-rss"></i>
        </a>
    </ul>
</header>
